@font-face {
font-family: FiraSansLight;
src: url("./fonts/FiraSans-Light.woff") ;
}
@font-face {
font-family: FiraSansRegular;
src: url("./fonts/FiraSans-Regular.woff") ;
}
body {
  font-family: FiraSansRegular;
}

#rules{
  padding-top: 25px;
  background-color: white;
  height: 200px;
  margin-bottom:20px
}
#rules p{
color: #9C9C9C;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 16px;
    font-size: 13px;
}

a[aria-expanded="true"] .fa-chevron-right {
  transform: rotate(90deg);
  transition: transform 0.3s;
}
a[aria-expanded="false"] .fa-chevron-right {
  transform: rotate(0deg);
  transition: transform 0.5s;
}

.brand {
  height:60px;
  top:-18px;
  font-size:20px;
}

.toggle_nav {
  display:none;
}

.container.for_con {
  height: 40px;
  padding-top: 0;
  }
.container.for_con .navigation{
  margin-top:30px;
}
.navigation .nav-item {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0px;

  }

.navigation .nav-item i {
    color: #8cb240;
    display:inline;
    font-size: 16px;
  }

.block-title {
  display: inline-block;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-right: 30px;
  font-size: 30px;
}

header {
  text-transform: initial;
  background-color: transparent;;
  color: white;
  padding-top: 0px;
  background-color: #333;
  margin-bottom: 30px;
  margin-top:0px;

}
header .container{
    background-color: #333;
    margin-top: 0;
    padding-top: 30px;
  }

main .container {
  background: transparent;
}


footer {

  padding: 20px 0px 20px 0px;
  background-color: #444;
  color: #fff;
  margin-top: 60px;
}

footer .left {
  text-align: left;
}

footer .right {
  text-align: right;
}

.small-pading div[class^="col-"] {
  padding-bottom: 40px;
}
.container.small-head  {
  height:90px;
  background-color: #333;
  padding-top: 0px;

}

.small-head .nav-item a {
  padding: 0;
  display: inline;
  }
@keyframes small_header {
    from {height: 100px;}
    to {height: 50px;}
}
#header_fixed {
background-color: #333;
    height: 90px;
    width: 100%;
    position: fixed;
    z-index: -1;
}
@media screen and (min-width: 992px){
  .small-head .brand {
      margin-top: 25px;
      margin-bottom: 0px;

  }

}

@media screen and (max-width: 992px) {
  header {
    background-color: transparent;
  }
  #header_fixed {
    display:none;
  }
  footer .left {
    text-align: center;
  }
    #rules
  {
    height: initial !important;
  }
  footer .right {
    text-align: center;
  }
  .for_con.container .brand {
    top:-30px;
    height: 100%;
    font-size: 12px
  }
  .for_con.container .brand {
  transition: all 1s;
  height:40px;
  }
  .container.small-head  {
    margin-top: 0px;
    padding-top: 20px;
    /* padding-bottom: 0; */
    overflow: hidden;
    height: 50px;
    animation-name: small_header;
    animation-duration: 1s;
  }
}