body{
  background-color: #000;
}

#y_container_lp{
    background-color:#000;
}

#y_container_lp .page-header{
        background-color:#000;
}

#y_teaser_in{
  border: 1px solid #cde90b;
}

#y_iframe_in{
  border: 1px solid #cde90b;
  background-image: url("img/lp_frame.png");
  background-position: bottom right;
  background-repeat: no-repeat;
}

#y_container_lp #y_row_explanation{
        background-color: #fff;
        border: 1px solid #2ce446;
}
#y_container_lp .y_possibility img{
        float: right;
        max-height: 157px;
}

#y_container_lp #y_terms{
    background-color:#000;
    color:#999;
}
#y_container_lp #y_terms .well{
    background-color:#000;
}
.y_terms_title, .y_terms_title:hover, .y_terms_title:focus{
        color: #999;
        text-decoration:none;
        outline: none;
}
#teilnahmebedingungen{
        text-align: justify;
}
#teilnahmebedingungen a{
        color: #999;
        text-decoration: underline;
}
#teilnahmebedingungen a:hover{
        color: #999;
        text-decoration: underline;
}

/* ---------------------------------- middle resolutions-------------------------------------------- */
@media screen and (min-width: 1200px){
#y_container_lp iframe{
  max-width:480px;
  padding-top: 30px;
}
}

/* ---------------------------------- middle resolutions-------------------------------------------- */
@media screen and (min-width: 992px) and (max-width: 1200px){
#y_container_lp iframe{
  font-size: 12px !important;
}
}

/* ---------------------------------- small resolutions-------------------------------------------- */
@media screen and (min-width: 1px) and (max-width: 992px){

.y_possibility{
        margin-top: 20px;
}
#y_row_explanation img{
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
}



/* ---------------------------------- small resolutions-------------------------------------------- */
@media screen and (max-width: 460px){

#y_container_lp iframe{
  height:680px;
}

}