@font-face {
  font-family: 'EurostileLTW01-DemiObli';
  src: url("EurostileLTW01-DemiObli.woff") ;
}

#rules{
  background-color: transparent;
  padding-top: 0;
  height: 240px;
  margin-bottom: 20px;
}

.logo-row {
  height: 20px;
}

.left-title {
  text-align: right;
  margin-right: 26px;
}
.left-title h1 {
  letter-spacing: 0px;
  font-size: 33px;
  line-height: 19px;
}

.left-title .last-line {
  font-size: 28px;
}

.title-page .container.no-padding {
  padding-top: 20px !important;
  border-radius: 5px;
}

.container.no-padding {
  font-family: 'EurostileLTW01-DemiObli';
  max-width: 942px;
  margin-top: 40px;
}

h1{
  font-family: 'EurostileLTW01-DemiObli';
}

h1,h4, p, b, a{
  color: white !important;
}

.well {
  background-color: #666;
}
header {
  margin-bottom: 0;
}

main .with-background {
  background: url(background.jpg) #333 no-repeat;
  padding-top: 80px !important;
}

.img-responsive {
  margin-left: 20px;
}

body {
  background-color: #141414;
}

@media screen and (max-width: 992px) {
  .left-title h1 {
    letter-spacing: 0px;
    font-size: 33px;
    line-height: 33px;
  }
}